:root{
    --full-slide-bar: rgb(165, 243, 235);
    --slider-background: rgb(16, 213, 194);
    --discount-background: rgb(254, 236, 231);
    --discount-text: rgb(255, 140, 102);
    --cta-text: rgb(189, 204, 255);
    --pricing-background-component: rgb(255, 255, 255);
    --main-background: rgb(250, 251, 255);
    --empty-slide-bar: rgb(234, 238, 251);
    --toggle-background: rgb(205, 215, 238);
    --text: rgb(133, 143, 173);
    --text-cta-background: rgb(41, 51, 86);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

html {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 600;

    color: var(--text)
}

button, input, textarea {
    border: 0;
}

il, ul, ol, a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, var(--main-background) 50%, var(--empty-slide-bar) 50%);
}

/* Content */
.container {
    width: 45%;

    margin: 0 auto;

    min-width: 300px;

    margin-top: 30px;

    text-align: center;
}

.titles {
    margin-bottom: 70px;
}

.titles h1 {
    color: var(--text-cta-background);
} 

/* Card */
.card {
    background-color: var(--pricing-background-component);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card main {
    width: 100%;
}

.card header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 800;

    margin-bottom: 30px;
    
    padding: 30px 40px;
}

.card header span {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5px;
}

.card header span h3 {
    font-size: 30px;

    color: var(--text-cta-background)
}

/* Slider bar */

.bar.back {
    width: 90%;
    height: 8px;

    border-radius: 15px;

    background-color: var(--empty-slide-bar);

    margin: 0 auto 30px auto;
}

/* Discount Section */

section {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;

    padding: 0 20px 40px 0;

    border-bottom: 2px solid var(--empty-slide-bar);
}

section .discount {
    background-color: var(--discount-background);
    color: var(--discount-text);

    font-weight: 600;
    font-size: 10px;

    padding: 3px 10px;

    border-radius: 15px;
}

/* Switch */
.switch {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0 5px;
}

.switch input[type='checkbox'] {
    width: 65px;
    height: 30px;

    appearance: none;

    display: block;

    background-color: var(--empty-slide-bar);

    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0 5px;

    transition: .5s;
}

.switch input:checked[type='checkbox'] {
    background-color: var(--full-slide-bar);
}

.switch input[type='checkbox']:before {
    content: '';
   
    width: 22px;
    height: 22px;

    border-radius: 50%;
    background-color: var(--pricing-background-component);

    position: relative;
}

.switch input:checked[type='checkbox']::before {
    left: 62%;
}