:root{
    --full-slide-bar: rgb(165, 243, 235);
    --slider-background: rgb(16, 213, 194);
    --discount-background: rgb(254, 236, 231);
    --discount-text: rgb(255, 140, 102);
    --cta-text: rgb(189, 204, 255);
    --pricing-background-component: rgb(255, 255, 255);
    --main-background: rgb(250, 251, 255);
    --empty-slide-bar: rgb(234, 238, 251);
    --toggle-background: rgb(205, 215, 238);
    --text: rgb(133, 143, 173);
    --text-cta-background: rgb(41, 51, 86);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

html {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 600;

    color: var(--text)
}

button, input, textarea {
    border: 0;
}

il, ul, ol, a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    background: no-repeat url('./images/bg-pattern.svg');
    background-size: contain;
    background-color: var(--main-background);
}   

/* Content */
.container {
    width: 607.675px;
    min-width: 280px;

    margin: 30px auto 0 auto;

    text-align: center; 
}

.titles {
    margin-bottom: 70px;
}

.titles h1 {
    color: var(--text-cta-background);
} 

/* Card */
.card {
    background-color: var(--pricing-background-component);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 15px;   
}

.card main {
    width: 100%;
}

.card header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 700;

    margin-bottom: 30px;
    
    padding: 30px 40px;
}

.card header span {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5px;
}

.card header span h3 {
    font-size: 30px;

    color: var(--text-cta-background)
}

/* Slider bar */

.bar {
    width: 90%;
    height: 15px;

    margin: 0 auto 30px auto;
}

.bar input {
    width: 100%;
    height: 15px;

    background-color: var(--empty-slide-bar);

    appearance: none;
    -webkit-appearance: none;

    border-radius: 15px;

    transition: .5s;
}

.bar input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    background: no-repeat center url('./images/icon-slider.svg');
    background-color: var(--slider-background);

    cursor: pointer;
} 

/* Discount Section */
section {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;

    padding: 30px 20px 40px 0;

    border-bottom: 2px solid var(--empty-slide-bar);
}

section .discount {
    background-color: var(--discount-background);
    color: var(--discount-text);

    font-weight: 600;
    font-size: 10px;

    padding: 3px 10px;

    border-radius: 15px;
}

/* Switch */
.switch input[type='checkbox'] {
    width: 65px;
    height: 30px;

    appearance: none;

    display: block;

    background-color: var(--empty-slide-bar);

    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0 5px;

    transition: .5s;
}

.switch input:checked[type='checkbox'] {
    background-color: var(--full-slide-bar);
}

.switch input[type='checkbox']:before {
    content: '';
   
    width: 22px;
    height: 22px;

    border-radius: 50%;
    background-color: var(--pricing-background-component);

    position: relative;
    cursor: pointer;

    transition: 5s;
}

.switch input:checked[type='checkbox']:before {
    left: 60%;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    padding: 40px 30px 30px 55px;
}

footer aside button {
    color: var(--main-background);
    background-color: var(--text-cta-background);

    font-weight: 600;

    width: 180px;
    height: 45px;

    border-radius: 30px;
}

footer aside button:hover {
    filter: brightness(1.2);
}

footer article li{
    text-align: start;

    margin-bottom: 10px;

    list-style-image: url('./images/icon-check.svg');
}

/* Responsive */

@media(max-width: 640px) {
    .container {
        width: 70%;
    }
}

@media(max-width: 550px) {
    .card header {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .discount .wordDiscount {
        display: none;
    }
    
    .card footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 30px;
    }
}
